@model BKStudent.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h2 class="text-success" style="font-family : 'Times New Roman'">Chi tiết sinh viên</h2>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Faculty)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Faculty)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CPA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CPA)
        </dd>
    </dl>
</div>
<hr />
<div >
    <button class="btn btn-default"><a asp-action="Edit" asp-route-id="@Model.Id">Sửa</a></button> 
    <button class="btn btn-default"><a asp-action="Index">Quay lại danh sách</a></button>
</div>
